
:root {
    --primary-color: #333333; 
    --secondary-color: #ffffff; 
    --accent1-color: #0077cc; 
    --accent2-color: #ffcc00; 
    --font-family-heading: 'Roboto', sans-serif;
    --font-family-text: Arial, Helvetica, sans-serif;
}


body {
    font-family: var(--font-family-text);
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header {
    background-color: var(--primary-color);
    padding: 10px 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

nav a:hover {
    color: var(--accent1-color);
}

nav a.active {
    color: var(--accent2-color);
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

main img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 10px 0;
}

aside {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #dddddd;
    padding: 15px;
    background-color: #f9f9f9;
    color: #333333;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 10px 0;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    border-top: 2px solid var(--accent1-color);
}

@media (max-width: 768px) {
    aside {
        width: 90%;
    }

    main {
        padding-bottom: 60px; 
    }
}
